body {
  background-color: rgb(20, 20, 20);
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

#tiles {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}
